{% extends 'base.html.twig' %}
{% block body %}
<h1> Nom de l'observation : {{ observation.name }}</h1>
</br>
<img src="{{ asset('uploads/pictures/' ~ observation.picture) }}">
    <h2> Espèce d'oiseau:</h2>
    <p> {{ observation.species.nomVernaculaire }}</p>

<h2> Description de l'observation:</h2>
<p> {{ observation.observationDescription }}</p></br>
    {%  if observation.proComment is defined %}
        <h3>Commentaire du naturaliste:</h3><p> {{ observation.proComment }}</p>
        {% endif %}


    <h2> Auteur : {{ observation.user.username }}</h2>
    <div id="map"></div>

    <input type="Hidden" id="observation_lat" value="{{ observation.lat }}">
    <input type="Hidden" id="observation_lng" value="{{ observation.lng }}">
    <input type="Hidden" id="observation_name" value="{{ observation.name }}">

    <h1> Commentaires:</h1>

    {%  for comment in comments %}
        <p> auteur du commentaire: {{ comment.user.username }}</p>
        <p> Contenu du commentaire: {{ comment.commentContent }}</p>
        <p> date du commentaire : {{ comment.commentDate|date("m/d/Y") }}</p><hr/>
        {%  endfor %}

    <h1> Postez votre commentaire: </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" />
    {{ form_end(form) }}
    <script>
        function initMap() {

            var name = document.getElementById('observation_name').value;
            var lat = document.getElementById('observation_lat').value;
            var lng = document.getElementById('observation_lng').value;
            var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};

            var map = new google.maps.Map(document.getElementById('map'), {
                center: latlng,
                zoom: 6
            });

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: name
            });
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn0i6xFXgzAPMFFHQ9zb56vq21CjAqUrE&callback=initMap"
            async defer></script>
{%  endblock %}
