{% extends 'base.html.twig' %}
{% block body %}
<h2> Page d'accueil du site</h2>
<p> Bonjour et bienvenue blablabla</p>

    <h3>
        <ul>
            <li>Nombre d'utilisateurs amateurs:</li>
            <li>Nombre d'observations:</li>
            <li>Nombre d'utilisateur pro: </li>
        </ul></h3>

<h3> CARTE DES OBS</h3>
    <div id="map"></div>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h3> Quand connecté:</h3>
    <ul>
        <li>
            <h4> Les dernières observations (les 10 dernières)</h4>
        </li>
        <li>
            <h4> Mes dernières observations(les 5 dernières)</h4>
        </li>
        <li>
            <h4>Les derniers commentaires sur mes observations (les 5 derniers commentaires.</h4>
        </li>
    </ul>
{% endif %}
    {% for observation in observations %}
        <input type="Hidden" id="{{ observation.id }}lat" value="{{ observation.lat }}">
        <input type="Hidden" id="{{ observation.id }}lng" value="{{ observation.lng }}">
        <input type="Hidden" id="{{ observation.id }}name" value="{{ observation.name }}">
{% endfor %}
    <script>
        var map;
        function initMap() {
            var myLatLng = {lat: -25.363, lng: 131.044};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: {lat: 48, lng: 2.2}
            });

            {% for observation in observations %}

            var name = document.getElementById('{{ observation.id|json_encode|raw }}name').value;
            var lat = document.getElementById('{{ observation.id|json_encode|raw }}lat').value;
            var lng = document.getElementById('{{ observation.id|json_encode|raw }}lng').value;
            var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};

            var marker{{ observation.id|json_encode|raw }} = new google.maps.Marker({
                position: latlng,
                map: map,
                title: name
            });

            {% endfor %}
        }



    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn0i6xFXgzAPMFFHQ9zb56vq21CjAqUrE&callback=initMap"
            async defer></script>

{% endblock %}

